@import "typography.css" layer(fo-typograpghy.fo-fonts)


/*------Global Styles and Custome Variables
 1: Custom Colors
 2: Basic Resets: Margin and Padding. Explict Author Styles.
-------*/
:root {
 --mvp-wireframe-outline-color: hsl(204, 97%, 54%, 100%);
 display: block;
}

:root * {
 border: 0;
 margin: 0;
 }
/*-------
3: Body Canvas Color.
-------*/
body {
  background-color: #202043;
}

section {
  display:block;
}

/* Navbar: Semantic Block */
nav {
  background-color: rgb(250, 184, 184);
  border: 3px solid rgb(24, 251, 92);
}

menu {
 background-color: rgb(250, 184, 184);
 block-size: 60px;
 border: 3px solid hsl(204, 97%, 54%, 100%);
 display: inline-block;
 margin: auto;
 padding: auto;
 position: relative;
}

.body-container {
 box-sizing: border-box;
 padding: 1.5rem;
}

/*------Core Mobile Container-------*/
.fo-core-layout {
  background-color: hsl(240, 13%, 20%, 100%);
  border: 5px solid hsl(204, 97%, 54%, 100%);
  height: 768px;
  margin: minmax(3rem, 315px);
  min-height: 768px;
  width: minmax(40rem, 1fr)
}

/*------Core Top Bar-------*/
/*------Core Top Bar Grid Container for a Flexible Space-------*/

.fo-core-nav {
  display: inline;
  margin: 0 0 2rem 0;
  position: relative;
}


.fo-core-grid-topbar {
border: 3px dashed rgb(251, 194, 24);
  display: grid;
  grid-auto-column: [bar-col] 1fr;
  grid-auto-row: [bar-row] 1fr;
  grid-template-areas:
  "menu-bar";

}

.fo-core-row-topbarcontainer {
  border: 3px dashed rgb(251, 24, 172);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  position: relative;
}



.fo-core-block-topbar-flex-spacer > div.bar-comp {
  background-color: rgba(255, 255, 255, 0.432);
  block-size: 60px;
  border: 5px solid rgb(187, 24, 251);
  border-radius: 5px;
  flex: 1 0 fit-content;
  max-block-size: 60px;
  padding: 10px;
}

.fo-a11y-block-con {
  border: 5px solid rgb(24, 221, 251);
  flex: 1 0 auto;
  marign-right: auto;
  max-width: 60px;
  position: relative;
}

/* .fo-block-spacer {
  block-size: 1px;
  border: none;
  flex-shrink: 0 1 auto;
  margin: auto;
  max-width: 1px;
} */

.fo-logo-block-con {
  block-size: max-content;
  border: 5px solid rgb(81, 24, 251);
  display: inline-block;
  flex: 0 1 auto;
  margin: 0 1fr;
  min-height: 64px;
  overflow: initial;
  position: relative;
  width: 115px;
}

.fo-logo-block-con img {

  display: block;
  margin: 0 0;
  min-height: 60px;
  min-height: 60px;
  object-fit: contain;
  scale: 0.15;
  top: 0px
}

.fo-menu-block-con {
  border: 5px solid rgb(187, 24, 251);
  flex: 1 0 auto;
  marign-left: auto;
  max-width: 60px;
  position: relative;
}

.bar-comp menu {
 border: 3px solid rgb(24, 251, 28);
  padding: 0 10px;
  text-justify: left;
}

/*------Core Mobile Fluid Grid, Explicit, for Key Landing Page-------*/
.fo-core-grid {
  display: grid;
  grid-auto-row: [pane-top] 1fr, [pane-left] 1fr);
  grid-gap: 2rem;
  grid-column-gap: 2.5rem;
  grid-template-areas:
   "top-hero"
   "btm-hero";
  margin: 0 auto;
}

@media (min-width: 700px) {
  .fo-core-grid { grid-template-columns: repeat(2, 1fr); }
  .body-container: {  padding: 3rem;}
}


.fo-core-grid > .mvp-wireframe-outline {
  background-color: rgba(255, 255, 255, 0.432);
  border: 5px solid hsl(204, 97%, 54%, 100%);
  border-radius: 5px;
  padding: 10px;
}

.fo-core-grid > * {
  border: 5px solid hsl(204, 97%, 54%, 100%);
}


/*------Hero Panes in a 4x4 Grid with a large gap = side margins -------*/

.hero-pane {
  min-height: 355px;
}

.hero-pane-topleft {
}

.hero-pane-topright {
  /* grid-area: top-hero; */
}

.hero-pane-bottomleft {
}

.hero-pane-bottomright {
  /* grid-area: btm-hero; */
}

.full-width {
clip-path: inset(0 -100vmax);
margin-bottom: 100vmax;
shaddow : 0 0 0 100vmax (#fff);
}

